# <font color='blue'> Table Of Contents </font>

## <font color='blue'> Library Import  </font>
* <font color='blue'> Library Import </font>

## <font color='blue'> Connect to Server and Create  Database </font>
* <font color='blue'> Define Server Connection Function  </font>
* <font color='blue'> Create a New Database </font>
* <font color='blue'> Modify Server Connection Function </font>
* <font color='blue'> Define Query Execution Function </font>

## <font color='blue'> Creating collections  </font>
* <font color='blue'> Create basic collection </font>
* <font color='blue'> Create derived collection </font>
* <font color='blue'> Create raw collection </font>

## <font color='blue'> Populating collections  </font>
* <font color='blue'> Populate collections with static information </font>

## <font color='blue'> Reading Data  </font>
* <font color='blue'> Define Data Reading Function </font>
* <font color='blue'> Read Data from Database and save in a list </font>

## <font color='blue'> Deleting Data  </font>
* <font color='blue'> Deleting document </font>
* <font color='blue'> Updating the document </font>

## <font color='blue'> Simulating Records to insert in aq_data collection  </font>
* <font color='blue'> Create insert_multiple Function </font>
* <font color='blue'> Add records </font>

## <font color='blue'> Aggregation and projection  </font>

## <font color='blue'> Conclusion  </font>

# <font color='blue'> Pre-requisite </font>

In this notebook we are going to go through the various steps that are involved while creating the required database to store the Air-Quality data. 

This notebook strictly contains the information related to the database connection table creation and data insertion into few of these tables.  

A detailed information about the table and their purpose is available in the main notebook. 

Goal of this notebook is to explain each step involved in the data ingestion and perform certain operation such as inserting single document, multiple documents, updating data of an existing document. 

For the benefit of the understading, we will discuss each of the method and its application seperately. A companion notebook has all the code available at single place and you can run that script after making some minor changes to create and insert the data in the database. 

Lets start.

## <font color='blue'> Import Libraries  </font>

### <font color='blue'> Import Libraries </font>

Lets import the [pymongo](https://pymongo.readthedocs.io/en/stable/)

In [1]:
from pymongo import MongoClient
from bson.objectid import ObjectId
import math
import random
import time
import datetime

## <font color='blue'> Connect to Server and Create Database </font>

### <font color='blue'> Define Server Connection Function </font>
 
Next we want to define a function in python which connects to our MongoDB Server. To do this we use the [MongoClient(f'mongodb://{host}:{port}')].

In [ ]:
def connect_mongo(host, port):

	mongo_client = None
	try:
		mongo_client =  MongoClient(f'mongodb://{host}:{port}')
		print("Connection successful")
		return mongo_client
	except Exception as e:
		print("An exception occurred ::", e)
		return False

### <font color='blue'> Create a New Database </font>

Now lets have a look at the commands that will create the database on our server. Here we will be using the connection we received using connect_mongo method. 

Execution of this method coupled with the next statements will create the schema and the collections in the mongodb server.

In [ ]:
    HOST = '127.0.0.1'
	PORT = '27017'
	DB_NAME = 'air_quality_db'
	DEVICE_COLLECTION = 'devices'
	USERS_COLLECTION = 'users'
	REPLOCATION_COLLECTION = 'replocation'
	AREA_COLLECTION = 'area'
	AQ_DATA_COLLECTION = 'aq_data'
	USERS_ACCESS_COLLECTION = "users_location"
	USERS_ACCESS_ENTITY_COLLECTION = "users_entity"
	
	db_conn = connect_mongo(HOST, PORT)
	db_conn.drop_database(DB_NAME)

This step is important and required if schmema is not available in the server. Before creating the database/schema in the server we need to make sure that currently it does not have that schema in place. So we need to perform drop operation for the database_name we want to create.

### <font color='blue'> Define Query Execution Function </font>

The final step of this stage is to create a function which will allow us to execute queries written in SQL. This is going to be extremely useful!

Again, we use [pyongo_queries()](https://pymongo.readthedocs.io/en/stable/tutorial.html) to execute our commands.

In [ ]:
def insert_single(collection, data):
	try:
		if data is None:
			print("No data is available.")
		else:
			result = collection.insert_one(data)
			print(result.inserted_id)
			print("Query successful")
			return True
	except Exception as e:
		print("An exception occurred ::", e)
		return False

## <font color='blue'>  Inserting documents </font>

In this segment we will be inserting the documents in the created collections over the server. As it has been mentioned above that we have collections that will hold the data related to area, location, devices, users and their permission information. 

### <font color='blue'> Basic Collections </font>

In this databse we have designed it to more efficient for our use case so that thes collections can serve the purpose according to the application. 

### <font color='blue'> Derived Colllections </font>

The following tables are the ones who we have created for ease of access and based on application requirement. You can find the requirement and purpose of each table in detail in the main notebook.

In [ ]:
	db = db_conn[DB_NAME]
	device_collection = db[DEVICE_COLLECTION]
	users_collection = db[USERS_COLLECTION]
	replocation_collection = db[REPLOCATION_COLLECTION]
	area_collection = db[AREA_COLLECTION]
	aq_data_collection = db[AQ_DATA_COLLECTION]
	users_access_collection = db[USERS_ACCESS_COLLECTION]
	users_access_entity_collection = db[USERS_ACCESS_ENTITY_COLLECTION]

### <font color='blue'> Raw data collection </font>

Here we are looking at the tables we designed to hold the data recieved from different sensors/devices. Again the relevant information and purpose of each of the table is different and significant because of the application.

Executing the following statment that will insert the following documents in relevant collections.

## <font color='blue'> Populating Collection with documents  </font>

In this section we are going to perform insert operation over the several tables. Lets look at those operatio in detail. Esssentially we will be populate the following tables currently. Here all the data will be hardcoded and already available. if you want to take a different approach and make it more intutive you can accept these data points from client as well.  

* area
* users
* replocation
* devices
* users_location_access
* user_access_control

### <font color='blue'> Populate collections with static information </font>

In [ ]:
# inserting data in User collection 
	print(f"Inserting data in: '{users_collection}'")
	user_1 = {"_id":"U101","user_name": "john", "email": "john@office.com","phone_no": "1872681", "address": "newyork"}
	user_2 = {"_id":"U102","user_name":"bob","email":"bob@office.com","phone_no":"1872661","address":"nashua"}
	user_3 = {"_id":"U103","user_name":"micheal","email":"micheal@office.com","phone_no":"9816221","address":"scranton"}
	user_4 = {"_id":"U104","user_name":"dwight","email":"dwight@office.com","phone_no":"9876121","address":"scranton"}
	user_5 = {"_id":"U105","user_name":"jim","email":"jim@office.com","phone_no":"8897122","address":"scranton"}

	insert_single(users_collection, user_1)
	insert_single(users_collection, user_2)
	insert_single(users_collection, user_3)
	insert_single(users_collection, user_4)
	insert_single(users_collection, user_5)
	print('\n')

	# Inserting data in area table
	# this table is intertwined with the location collection. Each area can have multiple location under it. 
	# This information is also saved in the collection. 
	print(f"Inserting data in: '{area_collection}'")

	area_1 = {"_id":"A12901","area_description":"Hospital area","locations":["L1201A","L1202B"]}
	area_2 = {"_id":"A12903","area_description":"School area","locations":["L1202B","L1203A"]}
	area_3 = {"_id":"A12904","area_description":"Secondary school area","locations":["L1208A"]}
	area_4 = {"_id":"A12973","area_description":"Cantonment area","locations":["L1238B"]}
	area_5 = {"_id":"A12341","area_description":"Traffic area","locations":["L1238B"]}

	insert_single(area_collection, area_1)
	insert_single(area_collection, area_2)
	insert_single(area_collection, area_3)
	insert_single(area_collection, area_4)
	insert_single(area_collection, area_5)
	print('\n')

	# inserting data in device collection. This table will have basic device realted information. 
	# Every document in the collection will also contain the information related to the installation and location of each device. 

	print(f"Inserting data in: '{device_collection}'")	
	device_1 = {"_id":"1001","device_type":"pm sensor","mfr":"PLC group","serial_no":"A1231","yom":"2018","location_id":"L1201A","installation_timestamp":{"timestamp": datetime.datetime.now().strftime("%Y-%m-%d")},"is_active":"yes"}
	device_2 = {"_id":"1002","device_type":"pm sensor","mfr":"sensenext","serial_no":"B1231","yom":"2019","location_id":" L1202B","installation_timestamp":{"timestamp":datetime.datetime.now().strftime("%Y-%m-%d")},"is_active":"yes"}
	device_3 = {"_id":"1003","device_type":"pm sensor","mfr":"PLC group","serial_no":"A1232","yom":"2019","location_id":"L1203A","installation_timestamp":{"timestamp":datetime.datetime.now().strftime("%Y-%m-%d")},"is_active":"yes"}
	device_4 = {"_id":"1004","device_type":"pm sensor","mfr":"sensenext","serial_no":"B1232","yom":"2019","location_id":"L1208A","installation_timestamp":{"timestamp":datetime.datetime.now().strftime("%Y-%m-%d")},"is_active":"yes"}
	device_5 = {"_id":"1005","device_type":"pm sensor","mfr":"PLC group","serial_no":"A1233","yom":"2020","location_id":" L1238B","installation_timestamp":{"timestamp":datetime.datetime.now().strftime("%Y-%m-%d")},"is_active":"yes"}

	insert_single(device_collection, device_1)
	insert_single(device_collection, device_2)
	insert_single(device_collection, device_3)
	insert_single(device_collection, device_4)
	insert_single(device_collection, device_5)
	print('\n')

	# This collection will hold the information about the collection. Each document will hold the data of device id as well. 
	# Here _id will represent the location id for each of the document. 

	print(f"Inserting data in: '{replocation_collection}'")	
	location_1 = {"_id":"L1201A","lat":78.32,"long":87.32,"location_name":"District Police station","description":"Public place","location_type":"Public space","device_id":"1001","areas":["A12901","A12903 "]}
	location_2 = {"_id":"L1202B","lat":79.3,"long":88.4,"location_name":"District Hospital ","description":"Public place for medically cared people","location_type":"public place","device_id":"1002","areas":["A12904"]}
	location_3 = {"_id":"L1203A","lat":81.34,"long":90.5,"location_name":"District school","description":"Primary school","location_type":"primary school for children's","device_id":"1003","areas":["A12973","A12341"]}
	location_4 = {"_id":"L1208A","lat":89.45,"long":132.45,"location_name":"District secondary school","description":"District school","location_type":"Secondary school","device_id":"1004","areas":["A12973"]}
	location_5 = {"_id":"L1238B","lat":109.34,"long":129.8,"location_name":"Ring road - 1","description":"cross road","location_type":"cross road","device_id":"1005","areas":["A12341"]}

	insert_single(replocation_collection, location_1)
	insert_single(replocation_collection, location_2)
	insert_single(replocation_collection, location_3)
	insert_single(replocation_collection, location_4)
	insert_single(replocation_collection, location_5)
	print('\n')

	# This collection will hold the information of user access for different type of collection. 
	# The collection is designed to hold the arrray of location access permission for location id in each of the document. 
	# Similar array will be there for other resources such as device and area. 

	print(f"Inserting data in: '{users_access_collection}'")	
	user_access_1 = {"_id":"U101","email":"john@office.com","location_access":[{"location_id":"L1201A","access_type":"Normal"},{"location_id":"L1202B","access_type":"Admin"}],"area_access":[{"area_id":"A12901","access_type":"Normal"},{"area_id":"A12903","access_type":"Normal"}],"device_access":[{"device_id":"1001","access_type":"Normal"}]}
	user_access_2 = {"_id":"U102","email":"bob@office.com","location_access":[{"location_id":"L1208A","access_type":"Admin"}],"area_access":[{"area_id":"A12904","access_type":"Admin"}],"device_access":[{"device_id":"1003","access_type":"Admin"}]}
	user_access_3 = {"_id":"U103","email":"micheal@office.com","location_access":[{"location_id":"L1202B","access_type":"Admin"}],"area_access":[{"area_id":"A12341","access_type":"Admin"}],"device_access":[{"device_id":"1004","access_type":"Normal"}]}
	user_access_4 = {"_id":"U104","email":"dwight@office.com","location_access":[{"location_id":"L1201B","access_type":"Normal"},{"location_id":"L1203A","access_type":"Admin"}],"area_access":[{"area_id":"A12973","access_type":"Normal"}],"device_access":[{"device_id":"1005","access_type":"Normal"}]}
	user_access_5 = {"_id":"U105","email":"jim@office.com","location_access":[{"location_id":"L1208A","access_type":"Admin"},{"location_id":"L1238B","access_type":"Admin"}],"area_access":[{"area_id":"A12341","access_type":"Admin"}],"device_access":[{"device_id":"1005","access_type":"Admin"}]}

	insert_single(users_access_collection, user_access_1)
	insert_single(users_access_collection, user_access_2)
	insert_single(users_access_collection, user_access_3)
	insert_single(users_access_collection, user_access_4)
	insert_single(users_access_collection, user_access_5)
	print('\n')

	# This collection is designed to hold the information of user access. 
	# The data available here will be in form of an object. Here array will be designed to hold the data of every entity type. 
	# It will help in improving the overall performance.   

	print(f"Inserting data in: '{users_access_entity_collection}'")	
	user_entity_access_1 = {"_id":"U101","email":"john@office.com","entity_list":[{"entity_id":"1001","entity_type":"device","access_type":"Admin"},{"entity_id":"L1201A","entity_type":"location","access_type":"Admin"}]}
	user_entity_access_2 = {"_id":"U102","email":"bob@office.com","entity_list":[{"entity_id":"1002","entity_type":"device","access_type":"Normal"},{"entity_id":"L1202B","entity_type":"location","access_type":"Normal"}]}

	insert_single(users_access_entity_collection, user_entity_access_1)
	insert_single(users_access_entity_collection, user_entity_access_2)
	print('\n')

## <font color='blue'>  Reading Data </font>

### <font color='blue'> Define Data Reading Function </font>

Now that we have populated our tables, it's time to start creating read queries. To do this, we will need a new function.

In [ ]:
# retrieving the data from the table based on the given query
def find_single(collection, data):
	try:
		if data is None:
			print("No data is available. Please provide the data.")
		else:
			result = collection.find_one(data)
			print("Query successful")
			return result
	except Exception as e:
		print("An exception occurred ::", e)
		return False

### <font color='blue'> Read from database </font>

In [ ]:
	# Query to find a single data from the Database
	query_data = {'serial_no':'A1231'}
	data = find_single(device_collection, query_data)
	print(data)

	query_data = {'_id':'U102'}
	data = find_single(users_access_entity_collection, query_data)
	print(data)

	query_data = {'_id':'U102'}
	data = find_single(users_access_collection, query_data)
	print(data)

In the above mentioned examples we can see that we are retrieving the document and then just priting it on the console. The fetched data will be in dcitionary format, we can save it based on requirement and use in future. This method/function will return the first matche document from the collection. 

We can also retrieve multiple documents from the collection. Lets have a look at the method and how to use it.

### <font color='blue'> Multiple document reading function </font>

This method will return all the record that matched with the given data. Below is how that method is defined. We will also see how we are calling this method and vieweing the records on the console.

In [ ]:
def find_multiple(collection, data):
	try:
		if data is None:
			print("No data is available. Please provide the data.")
		else:
			result = collection.find(data)
			print("Query successful")
			return result
	except Exception as e:
		print("An exception occurred ::", e)
		return False

In [ ]:
	# Query to find multiple records from the Database
	print("Performing multiple find operation in the database. ")
	query_data = {'device_type':'pm sensor'}
	result = find_multiple(device_collection, query_data)
	device_config = []
	location_config = []
	for doc in result:
		print(doc)
		device_config.append(doc['serial_no'])
		location_config.append(doc['location_id'])
	print('\n')

## <font color='blue'> Deleting documents  </font>

In this section we are going to see how we can delete a document from the collection. 

Lets see how the delete method looks like and how to call this method to perform that operation.There are two ways to do that either you can delet a single record, whatever ffirst matched document or delete all the documents that matches with the given object.  

### <font color='blue'> Deleting single document from a collection </font>

In [ ]:
def delete_single(collection, data):
	try:
		if data is None:
			print("No data is available. Please provide the data.")
		else:
			result = collection.delete_one(data)
			print("Query successful")
			return result
	except Exception as e:
		print("An exception occurred ::", e)
		return False

In [ ]:
	query_data = {'_id':'A12341'}
	data = delete_single(area_collection, query_data)
	print(data)

Above given code will simply delete the first matched record from the collection with the given query_data. Next we will see deletion of multiple documents from the collection. 

### <font color='blue'> Deleting multiple document from a collection </font>

In [ ]:
def delete_multiple(collection, data):
	try:
		if data is None:
			print("No data is available. Please provide the data.")
		else:
			result = collection.delete_many(data)
			print("Query successful")
			return result
	except Exception as e:
		print("An exception occurred ::", e)
		return False

In [ ]:
	# Deleting multiple records from the device collection
	# Uncommenting this will delete all the dicuments from the collection
	# Hence it would ultimately result in not ineserting anything in the database.
	
	query_data = {"device_type":"pm sensor"}
	data = delete_multiple(device_collection, query_data)
	print(data)

In the main code these commands are deliberately put as a comment. If you uncomment it, data will not be inserted in the document because these commands will delete all the device data from the collection.

### <font color='blue'> Updating single document in a collection </font>

We can also perform update operation on the inserted document in any of the given collection. To perform this operation we need to pass data that needs to be updated along with the value it is getting updated with. 

Lets have a look at the method and how we are calling those methods.

In [ ]:
def single_update(collection, query_data, update_data):
	try:
		if data is None:
			print("No data is available. Please provide the data.")
		else:
			result = collection.update_one(query_data, update_data)
			print("Query successful")
			return result
	except Exception as e:
		print("An exception occurred ::", e)

In [ ]:
	print("Performing Update operation on the database")
	filter = {'serial_no':'A1231', 'mfr' : 'PLC group'}
	data = {'$set': {'is_active': 'No'}}
	result = single_update(device_collection, filter, data)
	print(result.acknowledged)
	print('\n')

Above operation will find the document in the given collection and then perform the update operation over that data.

## <font color='blue'> Simulating Records to insert in aq_data collection  </font>

In this step we are going to simulate the data creation and insertion in the database. Lets see the code that is creating the and pushing the data for us in the aq_data collection. 

### <font color='blue'> Create insert_multiple Function </font>

Function definition to insert multiple record available here. Essentially this function is using a method named as insert_many to insert multiple records in the database.

In [ ]:
# performing the execute many query over the table, 
# this method will help us to inert multiple records using a single instance

def insert_multiple(collection, data):
	try:
		if data is None:
			print("No data is available.")
		else:
			result = collection.insert_many(data)
			print(result.inserted_ids)
			print("Query successful")
			return True
	except Exception as e:
		print("An exception occurred ::", e)
		return False

For a successful insertion of data for multiple devices we are going to create a dictionary that will have all the rewuired key-value pairs that needs to be inserted in the database. 

After doing that we are creating a variable of type list that will hold the records that will be inserted in the database. 

If you look at the while loop closely, you can see that we are running this unless there is any interrupt from the user. After coming out of the loop all the data points will be inserted in the table.

In this code, we can see that sleep time is 1 second, it means that we have new data at every 1 second.

In [ ]:
# Creating the data 
	print("Data creation is in progress: ")
	print("Type Ctrl + C to exit data creation.")
	aq_data = []
	clock = 0
	while True:
		try:
			time.sleep(1)
			for i in range(len(device_config)):
				clock = clock + 1	
				data = {
					'_id' : clock,
					'serial_no': device_config[i],
					'location_id': location_config[i],
					'pm25': int(random.uniform(95.5, 105.5)),
					'pm10': int(random.uniform(190, 210)),
					'co': int(random.uniform(70.5, 85.5)),
					'so2':int(random.uniform(60, 90)),
					'o3': int(random.uniform(0.5, 3.5)),
					'collection_time' : datetime.datetime.now()
				}
				aq_data.append(data)
		except KeyboardInterrupt:
			break

	print("Data insertion is in progress: ")
	insert_multiple(aq_data_collection, aq_data)
	print("Data Inserted")

## <font color='blue'> Aggregation & Projection  </font>

In this section we are going to see some of the complex queries related to aggregation and projection over the mongodb. The idea here is to simply mimic some of the queries similar to what we can do in sql databases. 

Below someo of the pipeline queries are mentioned. If you look closely, you will see different arguments being passed in each of the queries. 

Let's have a look at the explanation of some of the queries. More detailed information is available here [aggregation pipeline](https://docs.mongodb.com/manual/reference/operator/aggregation-pipeline/)

In [ ]:
	pipeline1 = [
		{
			'$match': {'serial_no':'A1231'}
		}
	]

	pipeline2 = [
		{
			'$match': {'serial_no':'A1231', 'pm10': {'$gte': 100}}
		}
	]
	pipeline3 = [
		{
			'$match': {'pm10': {'$gte': 100}}
		},
		{
			'$group': {'_id': '$serial_no', 'total_value': {"$sum": "$pm10"}}
		}
	]
	pipeline4 = [
		{
			'$match': {'serial_no':'A1231'}
		},
		{
			'$group': {'_id': {
								'serial_no': '$serial_no',
								'day': {'$dateToString': {'format': '%Y-%m-%d', 'date': '$collection_time'}},
								}, 
							'total_value': {"$sum": "$pm10"},
							'total_count': {"$sum": 1}
						}
		}
	]

	pipeline5 = [
		{
			'$match': {'serial_no':'A1231'}
		},
		{
			'$group': {'_id': {
								'serial_no': '$serial_no',
								'day': {'$dateToString': {'format': '%Y-%m-%d', 'date': '$collection_time'}},
								}, 
							'total_value': {"$sum": "$pm10"},
							'total_count': {"$sum": 1}
						}
		},
		{
			'$project': {
				'serial_no': '$_id.serial_no',
				'date': '$_id.day',
				'sum': '$total_value',
				'count': '$total_count',
				'_id': 0
				}
			},
		{
			'$sort': {'serial_no': 1, 'date': 1}
		}
	]

In **pipeline1**, its a very simple match command, where we are passing the serial_no that needs to be looked into the document. To make these pipeline queries work we are calling below method that is internally utilizing the aggregate method of pymongo. This query will simply match the given data with all the available documents and return the cursor for accessing. Later we are just itertaing it printing the data.

In [ ]:
def aggregate_data(collection, query):

	try:
		if data is None:
			print("No data is available. Please provide the data.")
		else:
			result = collection.aggregate(query)
			print("Query successful")
			return result
	except Exception as e:
		print("An exception occurred ::", e)
		return False

In **pipeline2**, again we are matching the data but now we are passing one more condition where we are looking for only those documents where pm10 value is greater than equal to 100. 

In **pipeline3**, it is a more evolved version of pipeline operation. Here we are using group method as well to complete a particular task. The idea behind this is to find all the record that has pm10 greater than 200 and pm25 with value greater than 100. Result of this is then grouped by serial_no as their id and total_value is sum of the matched record. This will create a single entry for each serial_no. Again we are iterating ther eturned data to access each record.  

Gradually, we are increasing the level of complexity and using different concepts to perform aggregate operation. Have a look at pipeline4 and pipeline5.

## <font color='blue'> Conclusion  </font>

This notebook walks you through the various operation we can do on the database. As of now we saw operation such as create, read, Update and delete on the database.

If you look at the main notebook there are exercices mentioned by us that as a learner you can explore and implement with the help of the methods and data we created in this notebook. 

Alternatively you can run the source code notebook that will create the database, collection along with the data inside those collections. 

Copy the code available in other notebook save it as main.py or database.py and run it as simple python file, it will establish the connection and perform the tasks we discussed above.